Repository puppet/puppet, changes with the owners that CODEOWNERS names for each.
All owners: @puppetlabs/platform-core, @puppetlabs/night-s-watch, @puppetlabs/language, @puppetlabs/networking, @puppetlabs/pdk

Use run_mode for better platform independence
  lib/puppet/provider/package/puppet_gem.rb
  lib/puppet/util/run_mode.rb
Owners: @puppetlabs/night-s-watch, @puppetlabs/platform-core

Introduce a Linux FHS run mode
  lib/puppet/util/run_mode.rb
Owners: @puppetlabs/platform-core

[WIP] Use Linux FHS mode
  lib/puppet/util/run_mode.rb
Owners: @puppetlabs/platform-core

(PUP-10214) Avoid replacing dangling symlinks on 'replace => false'
  lib/puppet/type/file/target.rb
Owners: @puppetlabs/platform-core

(PUP-10820) Convert data before saving to transactionstorefile
  lib/puppet/pops/serialization/to_data_converter.rb
  lib/puppet/transaction/persistence.rb
Owners: @puppetlabs/language, @puppetlabs/platform-core

(PUP-9570) Pass check_environment parameter
  lib/puppet/indirector/catalog/rest.rb
  spec/unit/indirector/catalog/rest_spec.rb
Owners: @puppetlabs/platform-core

(PUP-9570) Add integration test for environment convergence
  spec/fixtures/integration/application/agent/lib/facter/agent_spec_role.rb
  spec/integration/application/agent_spec.rb
  spec/lib/puppet_spec/puppetserver.rb
Owners: @puppetlabs/platform-core

(PUP-9570) Accept check_environment parameter
  lib/puppet/http/service/compiler.rb
  spec/unit/http/service/compiler_spec.rb
Owners: @puppetlabs/platform-core

(PUP-9570) Check for mismatched environments
  lib/puppet/indirector/catalog/compiler.rb
Owners: @puppetlabs/platform-core

(PUP-9570) Ask the server to check the environment
  lib/puppet/configurer.rb
  spec/unit/configurer_spec.rb
  spec/unit/indirector/catalog/compiler_spec.rb
Owners: @puppetlabs/platform-core

(maint) Add an l10n module fixture
  spec/fixtures/integration/l10n/envs/prod/modules/demo/Gemfile
  spec/fixtures/integration/l10n/envs/prod/modules/demo/Rakefile
  spec/fixtures/integration/l10n/envs/prod/modules/demo/lib/puppet/functions/l10n.rb
  spec/fixtures/integration/l10n/envs/prod/modules/demo/locales/config.yaml
  spec/fixtures/integration/l10n/envs/prod/modules/demo/locales/ja/puppet-l10n.po
  spec/fixtures/integration/l10n/envs/prod/modules/demo/locales/puppet-l10n.pot
  spec/fixtures/integration/l10n/envs/prod/modules/demo/metadata.json
Owners: @puppetlabs/platform-core

(maint) Add l10n shared context
  spec/shared_contexts/l10n.rb
Owners: @puppetlabs/platform-core

(maint) Verify puppet can localize messages in a module function
  spec/integration/l10n/compiler_spec.rb
Owners: @puppetlabs/platform-core

Remove "master"
  lib/puppet/defaults.rb
  lib/puppet/functions/find_template.rb
  lib/puppet/type.rb
  lib/puppet/type/file.rb
  lib/puppet/type/filebucket.rb
Owners: @puppetlabs/platform-core, @puppetlabs/language

(PUP-10216) Eliminate node request and use last environment
  lib/puppet/configurer.rb
  lib/puppet/transaction/report.rb
  spec/integration/application/agent_spec.rb
  spec/unit/configurer_spec.rb
Owners: @puppetlabs/platform-core

(PUP-6802) Skip pluginsync if node request fails with 404 error
  lib/puppet/configurer.rb
  lib/puppet/http/service/compiler.rb
  lib/puppet/indirector/terminus.rb
  lib/puppet/network/http/api/indirected_routes.rb
Owners: @puppetlabs/platform-core

(PUP-11088) Check all limits on top level facts
  lib/puppet/configurer.rb
  lib/puppet/defaults.rb
  spec/unit/configurer_spec.rb
Owners: @puppetlabs/platform-core

(PUP-10216) Update acceptance tests
  acceptance/tests/catalog_with_binary_data.rb
  acceptance/tests/direct_puppet/supports_utf8.rb
  acceptance/tests/environment/agent_runs_pluginsync_with_proper_environment.rb
  acceptance/tests/environment/custom_type_provider_from_same_environment.rb
  acceptance/tests/environment/should_find_existing_production_environment.rb
  acceptance/tests/environment/use_agent_environment_when_enc_doesnt_specify.rb
  acceptance/tests/environment/use_agent_environment_when_no_enc.rb
  acceptance/tests/environment/use_enc_environment_for_pluginsync.rb
  acceptance/tests/environment/use_environment_from_environmentpath.rb
  acceptance/tests/parser_functions/no_exception_in_reduce_with_bignum.rb
  acceptance/tests/pluginsync/4847_pluginfacts_should_be_resolvable_from_applications.rb
  acceptance/tests/pluginsync/7316_apps_should_be_available_via_pluginsync.rb
  acceptance/tests/reports/corrective_change_via_puppet.rb
  acceptance/tests/ssl/trusted_external_facts.rb
Owners: @puppetlabs/platform-core

CODEOWNERS:

# default to platform-core
* @puppetlabs/platform-core

# Night's Watch
/lib/puppet/type/group @puppetlabs/night-s-watch
/lib/puppet/type/package @puppetlabs/night-s-watch
/lib/puppet/type/service @puppetlabs/night-s-watch
/lib/puppet/type/user @puppetlabs/night-s-watch
/lib/puppet/provider/group @puppetlabs/night-s-watch
/lib/puppet/provider/package @puppetlabs/night-s-watch
/lib/puppet/provider/service @puppetlabs/night-s-watch
/lib/puppet/provider/user @puppetlabs/night-s-watch

# language
/lib/puppet/datatypes @puppetlabs/language
/lib/puppet/functions @puppetlabs/language
/lib/puppet/pal @puppetlabs/language
/lib/puppet/parser @puppetlabs/language
/lib/puppet/pops @puppetlabs/language
/lib/puppet/syntax_checkers @puppetlabs/language

# puppet device
/lib/puppet/application/device.rb @puppetlabs/networking
/lib/puppet/util/network_device @puppetlabs/networking

# puppet module
/lib/puppet/application/module.rb @puppetlabs/pdk
/lib/puppet/face/module @puppetlabs/pdk
/lib/puppet/forge @puppetlabs/pdk
/lib/puppet/module_tool @puppetlabs/pdk
